.input-field input {
    margin-bottom: 0px !important;
}

.row.card-panel.contact-us-form.contact {
    padding: 35px !important;
}

.row.card-panel.contact-us-form.contact .row {
    margin-bottom: 10px;
}