.how-it-works-container {
    width: 18%;
    float: left;
    margin: 1%;
    background: #e0e0e0;
    box-shadow: none;
}

.work-icon {
    text-align: center;
    font-size: 40px;
}

.work-title {
    text-align: center;
}

.work-description {
    display: none;
}


.how-it-works-container:hover {
    background: #000 !important;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.how-it-works-container:hover .work-icon{
	color:#feec00;
}
.how-it-works-container:hover .work-title{
	color:#fff;
}
.how-it-works-container.active .work-icon{
	color:#000 !important;
}
.how-it-works-container.active .work-title{
	color:#000 !important;
}

.how-it-works-container.active{
	background: #fff !important;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

div#descriptionContainer {
    float: left;
    background: #fff;
    margin: 10px;
    margin-top: -10px;
    padding: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#descriptionContainer{
	display: none;
}

div#descriptionTitle {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

div#descriptionTitle span {
    font-weight: bold;
}

div#descriptionText {
    margin-top: 12px;
    color: #6b6a6a;
}

