/**==========================
    Slider Home
============================*/
i.fa.fa-angle-right.fa-2x.nxt1
{
    background: ghostwhite;
    padding: 20px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 1000;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
i.fa.fa-angle-right.fa-2x.nxt1:hover,i.fa.fa-angle-right.fa-2x.nxt1:focus{
    background: #ddd !important;
    right: 10px !important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

i.fa.fa-angle-left.fa-2x.pre1 {
    position: absolute;
    background: #fff;
    padding: 20px;
    left: 0px;
    bottom:10px;
    z-index: 1000;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

i.fa.fa-angle-left.fa-2x.pre1:hover,i.fa.fa-angle-left.fa-2x.pre1:focus{
    background: #ddd !important;
    left: 10px !important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

@media(max-width: 768px){
    i.fa.fa-angle-left.fa-2x.pre1{
        padding: 10px !important;
    }
    i.fa.fa-angle-right.fa-2x.nxt1{
        padding: 10px !important;
    }
}

.carousel.carousel-slider .carousel-item
{
    top: 0px !important;
}

/*============= Overe Slider =========*/

.how_it_WORK_box{
    min-height: 600px !important;
}

.how-it-works-container {
/*    width: 30%;
    float: left;
    margin: 1%;
    background: #e0e0e0;
    box-shadow: none;
    padding: 30px;*/

    width: 30% !important;
    float: left;
    margin: 15px !important;
    background: #e0e0e0;
    box-shadow: none;
    padding: 30px !important;   
}

@media(max-width: 768px){
    .how-it-works-container
    {
        width: calc(33.33% - 4px) !important;
        float: left;
        margin: 2px !important;
        background: #e0e0e0;
        box-shadow: none;
        padding: 0px 0px 30px 0px !important;
    }
    div#descriptionContainer
    {
        padding: 0px !important;
    }
}


.work-icon {
    text-align: center;
    font-size: 40px;
}

.work-title {
    text-align: center;
}

.work-description {
    display: none;
}


.how-it-works-container:hover {
    background: #000 !important;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.how-it-works-container:hover .work-icon{
	color:#feec00;
}
.how-it-works-container:hover .work-title{
	color:#fff;
}
.how-it-works-container.active .work-icon{
	color:#feec00 !important;
}
.how-it-works-container.active .work-title{
	color:#fff !important;
}
.how-it-works-container.active{
        background: #000 !important;
}

.how-it-works-container.active{
	/*background: #fff !important;*/
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

div#descriptionContainer {
    float: left;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
#descriptionContainer{
    display: none;
    margin: 1% !important;
    margin-top: -15px !important;
}

div#descriptionTitle {
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
}

div#descriptionTitle span {
    font-weight: bold;
}

div#descriptionText {
    margin-top: 12px;
    color: #6b6a6a;
}

.offering-container.card-panel:hover {
    background: #e0e0e0 !important;
    box-shadow: none;
}

.card-panel.offering-image-container {
    background: #fff;
    padding: 2px;
    overflow: hidden;
        -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.offering-container:hover .card-panel.offering-image-container {
    background: #000;
}

.offering-container:hover .offering-title{
    color:#353535 !important;
}

.box.our-service-box {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding-bottom: 0px !important;
}

.offering-icon {
    margin: 15px 15px 15px 15px !important;
    padding:0px;
}

.offering-container .offering-title {
    color: #929090 !important;
    font-size: 13px;
    font-weight: bold;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.offering-title{
    margin-bottom: 0px !important;
}

.offering-container{
    min-height: 0px !important;
}

#descriptionContainer{
    background: #fff !important;
    box-shadow: none !important;
}
.carousel-item{
    cursor: pointer;
}
.offering-container .offering-title{
    display: block !important;
}
div#descriptionTitle{
    font-weight: 300 !important;
}