.offering-container {
    position: relative;
    background: #e0e0e0;
    box-shadow: none;
}

.offering-icon img {
    width: 100%;
}

.offering-title {
    text-align: center;
    color: #000;
    margin-bottom: 25px;
}

.offering-description {
    display: none;
}

.offering-icon {
    padding: 10px;
    margin: 25px;
    margin-bottom: 0px;
}
.offering-icon.yellow-icon{
    display: none;
}
.offering-container:hover .offering-icon.yellow-icon{
    display: block;
}
.offering-container:hover .offering-icon.white-icon{
    display: none;
}

.offering-container.active .offering-icon.yellow-icon{
    display: none !important;
}
.offering-container.active .offering-icon.white-icon{
    display: block !important;
}

.offering-container:hover {
    background: #000 !important;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.offering-container:hover .offering-title{
    color:#fff;
}
.offering-container.active .offering-title{
    color:#000;
}

.offering-container.active {
    background: #fff !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

div#descriptionContainer {
    float: left;
    background: #fff;
    padding: 30px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.offering-container {
    min-height: 416px;
    width: 12.5% !important;
}

.offering-container {
    min-height: 245px !important;
}

div#descriptionContainer {
    display: none;
    position: absolute;
    top: -20px;
    margin: 0px !important;
    position: relative;
    min-width: 100%;

}

div#descriptionTitle {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

div#descriptionTitle span {
    font-weight: bold;
}

div#descriptionText {
    margin-top: 12px;
    color: #6b6a6a;
}



/*====== Offer page =======*/

.img-bx{
    width: 150px;
}




/************************************************************
        Media Responsive css for Mobile and tablate
*************************************************************/
@media(max-width: 1200px) 
{
   .row .col.s12{
    width: 100% !important;
   }
    .offering-icon{
        margin: 2px !important;
    }
   div#descriptionTitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 35px !important;
    }
    
    .btn-book {
    margin-top: -85px;
    position: relative;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    }
}

