.registration-area{
	width: 50%;
	background: #fff;
	padding: 25px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.file-btn{
	background: transparent;
	border: 1px solid #000;
	color: #000;
	width: 100%;
}
.file-btn:hover{
	background: #000;
	color: #fff;

}
.card-panel{
	padding: 25px 0px;
}
.page-header{
	padding: 0px 25px;
}

thead tr th:first-child {
    padding-left: 25px !important;
}
tbody tr td:first-child {
    padding-left: 25px;
}
table.highlight>tbody>tr:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 0px;
    cursor: pointer;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
td{
	border-radius: 0px;
}
@media(max-width: 798px){
	.registration-area{
		width: 90%;

	}
	.registration-info-area{
		padding: 0px !important;
	}
}




/*Admin registration Info detail*/
.registration-info-area{
	padding: 25px;
}
.modal-content{

}
.info-panel-area{
	background: #fff;
}
.info-content{
	border:1px solid #eee;
	padding: 25px;
}
table tr td span {
    text-transform: capitalize;
}
.lable-name label {
    color: #000 !important;
    font-size: 14px;
    line-height: 2rem;
 
}

@media(max-width: 768px){
	.card-panel{
		margin: 0 auto;
	}
}