

div#descriptionText p {
    text-align: justify;
}.box{
	width: 90% !important;
    margin: 0 auto;
}

#descriptionText .col {
    position: relative;
    min-height: 185px;
}


#descriptionText .col
 img.img-bx {
    width: 80%;
    border: 2px solid #ccc;
    padding: 10%;
    background: #e0e0e0;
}

.offering-title {
    font-size: 12px;
}
div#descriptionTitle{
	margin-bottom: 20px;
}

#descriptionText .col {
    min-height: 200px;
}

#descriptionText .col:hover {
    cursor: pointer;
}

#descriptionText .col:hover img {
    background: #fff;
}

.offering-title {
    color: #696969;
}
#descriptionText .col:hover .offering-title {
    color:#000;
}



.service-box .offering-container {
    margin-left: 3.75% !important;
    margin-right: 3.75% !important;
}

div#descriptionText p {
    text-align: justify;
}