/* global style sheet */

.brand-logo img {
    width: 100%;
    max-width: 170px;
    margin-top: 5px;
}
.nav-top{margin-top: 100px;}
nav {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
.transparent-nav{
	background: transparent !important;
	box-shadow: none;
}
nav.nav-bar ul a{
	color:#404040;
}
nav.transparent-nav ul a{
	color:#fff;
}
nav.transparent-nav ul a:hover{
	color:#fff;
	background: transparent !important;
}
nav.nav-bar {
    background: #fff;
}
nav.nav-bar ul a:hover {
    color: #232323;
    background: #dedede;
}

/**========================
    Content Title
==========================*/

.c-title{
    text-align: center;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    padding: 25px;
    line-height: 3rem;
    font-family: 'Raleway', sans-serif;
}
.c-paragraph{
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.abt-box{
    padding: 25px;
    text-align: center;
}
.abt-box h4{
    font-size: 14px;
    padding: 10px 0px;
    text-align: center;
    font-weight: 500;
}

/**============================
        Padding Property
=============================*/
.pad-20{
    padding: 20px 0px;
}


/**=============================
        Offer Page
===============================*/
.offering-image{
    width: 120px;
    background-color: #000;
    border-radius: 100%;
}

.offer-box{
    padding: 25px 0px;
    text-align: center;
}

.offer-box h4{
    font-size: 14px;
    padding: 10px 0px;
}

.offer-card-panel{
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    background-color: transparent;
}


/**==========================
        Team page Start
============================*/
.team-content-box p{text-align: justify;}
/*.team-content-box{
    padding: 10px !important;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease-in-out;
135    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.team-content-box:hover{
box-shadow: inset 0px 1px 20px #ddd;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
*/
.img-box{
        padding: 40px !important;
        padding-bottom: 15px !important;
}
.img-box1{
        padding: 40px 20px !important;
        padding-bottom: 15px !important;
}
/**=============================
        Footer Start
===============================*/

.footer-text.grey-text.text-darken-3 a{
    color: #424242 !important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.footer-text.grey-text.text-darken-3 a:hover,.footer-text.grey-text.text-darken-3 a:focus{
    color: #000000 !important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

footer.page-footer {
    background:#e0e0e0 !important;
}
a.footer-link-right.right {
    font-size: 13px;
    margin: 0px 10px;
    color: #a0a0a0;
    /* text-transform: uppercase; */
}

a.footer-link-right:hover {
    color: #fff;
}
a.copyright-site-link {
    color: #fff;
}

.footer-copyright{
     overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    color: rgba(255,255,255,0.8);
}

.footer-copyright .container span {
    color: #ababab;
}

.footer-title {
    text-transform: uppercase;
}

i.social-connect {
    font-size: 35px !important;
    margin: 0px 10px;
    color: #7d7d7d;
    cursor: pointer;
}

i.social-connect.connect-facebook:hover {
    color: #3b5998;
}

i.social-connect.connect-linkedin:hover {
    color: #283e4a;
}

.partner-logo .card-panel {
    max-width: 200px;
    height: 200px;
    padding: 10px !important;
}

.partner-logo .card-panel img {
    width: 100%;
}

.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}
.parallax-container{
    height: auto;
    background:rgb(255, 255, 255);
    padding-bottom: 50px;
    margin-top: 50px;
}

.card-panel.right {
    margin-right: 20px;
}

.card-panel.left {
    margin-left: 20px;
}
.col-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #757575;
}

.card-panel.black {
    color: #fff;
    margin-bottom: 30px;
}

.card-title {
    text-align: center;
    font-size: 54px;
    text-transform: uppercase;
    color: #ccc;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover .card-title{
    color: #feec00;
}

.card-content {
    text-align: center;
    font-size: 14px;
    color: #ccc;
}

.card-panel.black {
    height: 240px;
}


.background-image {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.background-image img {
    /*height: 180px;*/
    /* border-radius: 0px; */
    width: 100%;
}

.card-panel.black {
    position: relative;
    overflow: hidden;
}

.card-panel.black {
    background: rgba(0,0,0,0.9) !important;
     -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.card-panel.black:hover {
    background: rgba(0,0,0,0.8) !important;
    cursor: pointer;
}
img.full-width {
    width: 100%;
    height: auto !important;
}
ul#nav-mobile {
    z-index: 100;
}
#sidenav-overlay{
    z-index: 99 !important;
}

ul#nav-mobile li a {
    color: #000;
    border-bottom: 1px solid #dcdcdc;
}

nav.transparent-nav ul a:hover {
    color: #feec00;
}

.dropdown-content{
    margin-top: 65px;
}

.dropdown-content li a {
    background: #fff !important;
    color: #5a5a5a !important;
    border-bottom: 1px solid #ccc;
}
.dropdown-content li a:hover,.dropdown-content li a:focus {
    background: #DEDEDE !important;
    color: #5a5a5a !important;
    border-bottom: 1px solid #ccc;
}


.team-name {
    font-size: 22px;
    font-weight: 300;
}

span.team-lastname {
    font-weight: bold;
}

.team-name span {
    padding-right: 5px;
}

.team-content-box {
    padding: 20px !important;
}

.team-position {
    color: #777;
}

.row.team-member {
    margin-bottom: 20px;
}

.offer-box h4 {
    font-size: 13px;
    font-weight: bold;
}
.contact-us-form{
    padding: 50px 150px;
}
.contact{}

.contact{
    margin-left: 0.25rem !important;
    margin-right: -0.75rem !important;
    padding: 51px 51px !important;
}
.card-panel.hoverable.white.abt-box {
    min-height: 325px;
}

#our_partner .section-title {
    color: #6f6f6f;
    margin-bottom: 0px;
}

.box{
    padding: 25px;
}

.btn-book{
    margin-top: -50px;
}
/**=======================
    Partners page
===========================*/
.partner{
    min-height: 300px;
}

.partner p{
    color: #696969;
}


.partner h3{
    color: #292929;
}


/**=====================
    Forn validation
======================*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #292929;
    -webkit-box-shadow: 0 1px 0 0 #292929;
    box-shadow: 0 1px 0 0 #292929;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #292929 !important;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #292929 !important;
}
.select-wrapper+label{
    top: -30px !important;
    font-size: -0.2rem !important;
}



/**==========================
    team page
==============================*/
.nm{
    font-weight: 300;
    text-align: center;
    line-height: 0px;
}
.deg{
    text-align: center;
    line-height: 10px;
    color: #777;
}




/************************************************************
        Media Responsive css for Mobile and tablate
*************************************************************/